html{
  background-color: #FF0023;
}

header {
text-align: center;
padding: 10px;
margin: auto 0;
}

#timer{
  color: white;
  font-size: 75px;
  font-family: "Helvetica Nue", sans-serif;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #F0C400;
}

 #questions-container{
   font-family: "Helvetica Nue", sans-serif;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-bottom: 25px;
    width: 600px;
    margin: 0 auto;

 }

 #question{
   text-align: center;
   font-size: 24px;
 }


p {
  font-size: 24px;
  color: white;
  font-family: "Helvetica Nue", sans-serif;
}


#title{
  color: white;
  font-size: 74px;
  font-family: "Helvetica Nue", sans-serif;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #F0C400;
}

#quote{
  color: white;
  font-size: 74px;
  font-family: "Helvetica Nue", sans-serif;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #F0C400;
}

section#answers-container {
    width: 900px;
    margin: 0 auto;
  }

  .answer {
      margin: auto;
      border-radius: 10px;
      width: 600px;

}
