header {
text-align: center;
padding: 10px;
margin: auto; 0;
}
 #questions-container{
   font-family: "Helvetica Nue", sans-serif;
   background-color: white;
   border-radius: 10px;

 }
html{
  background-color: #FF0023;
}
 #question{
   text-align: center;

 }

p {
  font-family: "Helvetica Nue", sans-serif;
}

h1{
  color: white;
  font-size: 78px;
  font-family: "Helvetica Nue", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F0C400;
}
